{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Xabier Casán</h1>
        <div class="text">
            <p>
                I am a dedicated and passionate piano and music theory teacher (as
                well as performer!) originally from the north of Spain, but now
                living and working in London. I am also a classically trained
                singer (baritone) and a singing teacher.
            </p>
            <p>
                I have over 13 years' experience teaching students of all ages and
                levels, from those just starting their journey all the way to
                professionals. My studio is based in SE1 3GU, in London Bridge.
            </p>
            <p>
                I started my own professional studies at the Conservatoire "Juan
                Crisóstomo de Arriaga" in Bilbao, followed by the renowned
                Conservatoire "Musikene" in San Sebastián for 5 years, studying
                under Gustavo Díaz-Jerez and reaching Grado Superior. I followed
                this with a Masters in Musical Interpretation and Research at VIU
                in Valencia under Eugen Indic and Francisco Escoda Padrón at the
                same time as doing a post-graduate in Contemporary Music at CSMA
                in Zaragoza with Ricardo Descalzo, Nicolás Hodges, Alberto Rosado
                and Yukiko Sugawara.
            </p>
            <p>
                I have performed in numerous concerts and recitals throughout the
                Basque Country, Spain and France, including in the Palacio
                Euskalduna, the Guggenheim in Bilbao and in the Principal and
                Victoria Eugenia theatres in San Sebastián. I've also performed in
                chamber groups and various orchestras. 
            </p>
        </div>
    </div>
    <div class="col 4">
        <img src="assets/img/Xabi.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}