{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <div class="text">
            <h2>Mobile phone:</h2>
            <p style="text">07539 175 029 </p>
            <h2>Email:</h2>
            <p style="text">xabi.casan.piano@gmail.com</p>
            <h2> Studio:</h2>
            <p style="text">SE1 3GU, London Bridge.</p>
        </div>
    </div>
    <div class="col 4">
        <img src="assets/img/xabi-piano-000.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}