{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <div class="text">
            <h1>Tutoring Experience
            </h1>
            <p>
                I have been teaching the piano for over 13 years to the full range of
                students, from those just starting their journey all the way to
                professionals. My repertoire includes both the classical and also the
                jazz tradition.
            </p>
            <h1>Tutorial Approach
            </h1>
            <p>
                I'm a dedicated and passionate teacher with a thorough approach,
                always getting the best out of my students. I adapt to new students
                with ease, teaching in a clear, relaxed, supportive and friendly way. 
            </p>
            <p>
                The most important objective of a lesson is that they are fun,
                engaging, and rewarding. I have an individualized approach that
                focuses on each student's strengths and areas for improvement in a
                highly supportive and encouraging environment. 
            </p>
            <p>
                My approach to teaching is flexible and I'm very happy to tailor to my
                student’s needs. I will happily stick to an exam board syllabus, avoid
                this entirely, or offer some combination of approach – whatever
                suits! 
            </p>
            <p>
                Examples of the lessons I can teach include learning pieces, music
                theory, improvisation, ear training, sight reading, musicality and
                exam preparation, plus I have a particular interest in posture and
                technique.
            </p>
            <p>
                At the end of each lesson (If they are happy with this) students are
                given weekly assignments for them to work on during the week. 
            </p>
        </div>
    </div>
    <div class="col 4">
        <img src="assets/img/xabi-playing-04.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}