{{> head }}
{{> navbar }}
<div>
    <h4>Harriet</h4>
    <p>
        He has been my piano teacher for the last 4 years. I've learnt how
        to be patient, pay attention to the details while studying, and keep
        time.
    </p>
    <h4>
        Fran
    </h4>
    <p>
        Xabi really helped me to improve my piano skills. He taught me how
        to improvise, a skill I never had until I met him.
    </p>
    <h4>James</h4>
    <p>
        I started doing the ABRSM grades with him three years ago and I
        couldn't be happier. He always encourages a positive attitude, even
        if you don't feel like it in the beginning.
    </p>
    <h4>
        Dunia
    </h4>
    <p>
        He is a brilliant teacher. I have improved so much since I started
        his classes. Highly recommended!
    </p>
    <h4>Chechi</h4>
    <p>
        We've studied together for a long time. He's a great, friendly and
        professional teacher. He's very patient, and has a great knowledge
        of the instrument. He's very encouraging, enthusiastic, but above
        all he knows how to teach. I totally recommend him!!
    </p>
    <h4>
        Ayush
    </h4>
    <p>
        Despite my limited technique in the beginning, he taught me how to
        play some pop songs and at the same time helped me improve my
        posture. I don't have back pain anymore!
    </p>
    <h4>Anna</h4>
    <p>
        He is very versatile as a teacher. I learnt how to play jazz piano
        piaces with him, while learning classical and jazz harmony to make
        accompaniments.
    </p>

</div>
{{> footer }}